In [2]:
import pandas as pd 
import glob
from datetime import datetime

In [9]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [4]:
jsonfile1 = pd.read_json("bank_market_cap_1.json")
jsonfile1.head(10)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399
5                        HSBC Holdings PLC                   219.270
6               Agricultural Bank of China                   203.244
7                           Citigroup Inc.                   203.165
8                            Bank of China                   181.469
9                     China Merchants Bank                   122.616

In [5]:
jsonfile1.shape

(70, 2)

In [7]:
jsonfile2 = pd.read_json("bank_market_cap_2.json")
print(jsonfile2)

                                  Name  Market Cap (US$ Billion)
35     Banco Bilbao Vizcaya Argentaria                    60.678
36                     Japan Post Bank                    60.525
37         The Bank of New York Mellon                    59.823
38    Shanghai Pudong Development Bank                    58.796
39             Industrial Bank (China)                    57.388
40           Bank of China (Hong Kong)                    55.449
41                    Bank of Montreal                    53.181
42                     Crédit Agricole                    52.141
43                            DBS Bank                    51.475
44                              Nordea                    51.185
45                         Capital One                    51.107
46                       NatWest Group                    50.490
47              Mizuho Financial Group                    50.018
48                       Credit Suisse                    48.462
49        Postal Savings Bank of China                    47.948
50                 China Minsheng Bank                    47.921
51                           UniCredit                    47.777
52                    China CITIC Bank                    47.451
53                      Hang Seng Bank                    46.171
54                    Société Générale                    46.051
55                            Barclays                    45.850
56  Canadian Imperial Bank of Commerce                    43.544
57                   Bank Central Asia                    43.344
58                    Truist Financial                    41.923
59        Oversea-Chinese Banking Corp                    41.362
60                 State Bank of India                    40.562
61                        State Street                    39.769
62                       Deutsche Bank                    38.649
63                            KBC Bank                    38.394
64                         Danske Bank                    38.223
65                        Ping An Bank                    37.993
66                  Standard Chartered                    37.319
67                United Overseas Bank                    35.128
68                           QNB Group                    33.560
69                         Bank Rakyat                    33.081

In [8]:
jsonfile2.shape

(35, 2)

In [ ]:
columns = ["Name", "Market Cap (US$ Billion)"]

def extract():
    extracted_data = pd.DataFrame(columns = columns)
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data._append(extract_from_json(jsonfile), ignore_index = True)