In [135]:
import pandas as pd
import glob
from datetime import datetime

In [136]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [137]:
jsonfile1 = pd.read_json("bank_market_cap_1.json")
print(jsonfile1.head(10), '\n', jsonfile1.shape)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399
5                        HSBC Holdings PLC                   219.270
6               Agricultural Bank of China                   203.244
7                           Citigroup Inc.                   203.165
8                            Bank of China                   181.469
9                     China Merchants Bank                   122.616
 (70, 2)

In [138]:
jsonfile2 = pd.read_json("bank_market_cap_2.json")
print(jsonfile2.head(10), '\n', jsonfile2.shape)

                                Name  Market Cap (US$ Billion)
35   Banco Bilbao Vizcaya Argentaria                    60.678
36                   Japan Post Bank                    60.525
37       The Bank of New York Mellon                    59.823
38  Shanghai Pudong Development Bank                    58.796
39           Industrial Bank (China)                    57.388
40         Bank of China (Hong Kong)                    55.449
41                  Bank of Montreal                    53.181
42                   Cr√©dit Agricole                    52.141
43                          DBS Bank                    51.475
44                            Nordea                    51.185
 (35, 2)

In [139]:
columns = ["Name", "Market Cap (US$ Billion)"]

def extract():
    extracted_data = pd.DataFrame(columns=columns)
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data._append(extract_from_json(jsonfile), ignore_index=True)

    return extracted_data

In [140]:
extracted_data = extract()

C:\Users\sprakas4\AppData\Local\Temp\ipykernel_584\3488970205.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = extracted_data._append(extract_from_json(jsonfile), ignore_index=True)

In [141]:
dataframe = pd.read_csv('exchange_rates.csv',index_col=0)
dataframe.head(10)

         Rates
AUD   1.297088
BGN   1.608653
BRL   5.409196
CAD   1.271426
CHF   0.886083
CNY   6.483139
CZK  21.510117
DKK   6.119757
EUR   0.822504
GBP   0.732398

In [142]:
def read_csv(file:str):
    return pd.read_csv(file, index_col=0)

def extract_csv():
    for csv in glob.glob("*.csv"):
        extracted_csv = read_csv(csv)

    return extracted_csv

In [143]:
extracted_rate_csv = extract_csv()
extracted_rate_csv.head(10)

         Rates
AUD   1.297088
BGN   1.608653
BRL   5.409196
CAD   1.271426
CHF   0.886083
CNY   6.483139
CZK  21.510117
DKK   6.119757
EUR   0.822504
GBP   0.732398

In [144]:
exchange_rate = extracted_rate_csv.loc["GBP"].values[0]
exchange_rate

0.7323984208000001

In [145]:
def transform(data: pd.DataFrame):
    copied_data = pd.DataFrame(data)
    copied_data["Market Cap (US$ Billion)"] = round(copied_data["Market Cap (US$ Billion)"] * exchange_rate, 3)
    copied_data.rename(columns= {"Name":"Name", "Market Cap (US$ Billion)": "Market Cap (GBP Billion)"}, inplace=True)
    return copied_data

In [146]:
my_transform_df = transform(extracted_data)
my_transform_df.head(10)

                                      Name  Market Cap (GBP Billion)
0                           JPMorgan Chase                   286.319
1  Industrial and Commercial Bank of China                   252.834
2                          Bank of America                   238.272
3                              Wells Fargo                   225.588
4                  China Construction Bank                   188.519
5                        HSBC Holdings PLC                   160.593
6               Agricultural Bank of China                   148.856
7                           Citigroup Inc.                   148.798
8                            Bank of China                   132.908
9                     China Merchants Bank                    89.804

In [147]:
updated_file_name = "bank_market_cap_gbp.csv"

def save(file:str, data:pd.DataFrame):
    data.to_csv(file, index=False)

In [148]:
log_file_name = "bmc_log.txt"

def log(message):
    timestamp = datetime.now().strftime("Date: %h %d, %Y - Time: %H:%M:%S")
    with open(log_file_name, 'a') as fptr:
        fptr.write(f"{timestamp} : {message}\n")

In [149]:
log("ETL Job Started")
log("Extract Phase Started")